.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 50px 15px;
    position: relative;
}

.authorContent {
    h2 {
        margin-bottom: 40px;
        padding-left: 60px;
    }

    div {
        margin-bottom: 60px;
    }
}
